<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"> -->
    <style>
        a{
            text-decoration: underline;
        }
        h4{
            display: block;
        }
        #trip_info{
            padding: 5px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 text-left">
                <h2>Hello {{context2.user.name}}! These are the job details!</h2>
            </div>
            <div class="col-md-4 text-right">
                <a href="/home">Home</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="row">
            {% for job in context.jobs %}
            <div class="col-md-8">
                <h4>{{job['title']}}</h4>
                <div class="border border-secondary" id="job_info">
                    <p>{{job['description']}}</p>
                    <p>Location: {{job['location']}}</p>
                    <p>Posted by: {{job['first_name']}}</p>
                    <p>Posted on: {{job['created_at']}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
<!DOCTYPE html>
